/* This is a CSS file */


.main_novel_notice {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 11px;
  margin: 1px 0 -1px 0;
  color: #1f1f21;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.list__item:first-child {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ccc;
  box-shadow: inset 0px 1px 0px 0px #ccc;
  margin-top: 0;
}
.list__item_active:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.list__item__title {
    font-size: 1px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}
.list__item__subtitle {
  opacity: 0.75;
  font-size: 14px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.list__item__thumbnail {
  width: 50px;
  height: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  margin: 0;
}
.list__item__icon {
  font-size: 22px;
  padding: 0 6px;
}

/* 툴바 오른쪽 아이콘 간격 CSS */
.novelFavoriteIcon {
    padding-right: 8px;
    padding-left: 6px;
}
.mainNovelDropListIcon{
    width: 10px;
    padding-right: 5px;
}

/* 내용(챕터, 회차) */
.list-item-container {
  line-height: 0;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #ccc;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}

.location > div {
  display: inline-block;
  padding: 7px 20px 5px 0;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

.keyImg {
    padding: 20px 5px 0 0;
}

/*작가의 다른 작품 추천*/

.list-item-container-recommend {
  line-height: 0;
  padding: 0px 0px 0px 20px;
  border-bottom: 1px solid #ccc;
}

.list-item-container-recommend > div {
    font-size: 1px;
    text-align: center;
}

.recommendImg {
    width: 60px;
    height: 80px;
}



.main_novel_novelInfo{
    border: 1px solid #C6C6C6;  
    width: 95%; 
    height: 40%; 
    margin:10px;
    font-size: 12px;
}
/* content부분의 책 이미지 */
.main_novel_novelInfo_contentsImg {
    width:100px; 
    height:140px; 
    margin:7px;
}
/* content부분의 회차보기&조회수&추천&장르&연재현황 */
.main_novel_novelInfo_contents{
    width:170px; 
    height:120px; 
    margin:5px;
}
/* content부분의 회차보기 버튼 */
.main_novel_novelInfo_contents_button {
    text-align: center;
    font-size: 12px;
    background-color:#707070; 
    color:#FFFFFF;
    border-radius: 8px;
}
/* content부분의 책설명 */
.main_novel_novelInfo_contentsEx{
    border: 1px solid #B8B8B8;
    font-size: 11px;
    width 90%; 
    height:50px; 
    margin:5px 10px 5px 10px; 
}


/* content 부분의 공지사항과 챕터 리스트 */
.main_novel_chapterContainer {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.main_novel_notice_left {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 14px 5px 0;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  line-height: 1.2em;
  min-height: 44px;
}
.main_novel_notice_left:empty {
  width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
}
.main_novel_notice_center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-left: 0;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -moz-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -o-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
  padding: 5px 6px 5px 0;
  line-height: 1.2em;
  min-height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main_novel_notice_center {
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.main_novel_notice_right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 27px 1px 5px 0;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -moz-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -o-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
  line-height: 1.2em;
  min-height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main_novel_notice_right {
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.noticeList__header {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #1f1f21;
  text-shadow: none;
  border-top: none;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  min-height: 24px;
  line-height: 24px;
  margin-top: -1px;
  text-transform: uppercase;
  position: relative;
  
}
.noticeList__header:not(:first-of-type) {
  border-top: 1px solid #ccc;
}

.noticeListItem {
    padding: 0 5px 0 20px;
}
/* 더보기 CSS */
.details{
    width: 100%;
    height: 50px;
    line-height: 45px;
    text-align: center;
}
.addButton {
    text-decoration: none;
}
.addButtonDiv {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 55px;
    color: #000000;
}

/* 특정 소설 페이지 드랍다운메뉴 */

.mainNovelDropListCenter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-left: 0;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -moz-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -o-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
  padding: 12px 6px 12px 0;
  line-height: 1.2em;
  min-height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainNovelDropListCenter {
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}

.mainNovelDropList {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 15px;
  list-style-type: none;
  text-align: left;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.mainNovelDropListItem {
  margin: 0;
  padding: 0;
  width: 150px;
  position: relative;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 14px;
  margin: 1px 0 -1px 0;
  color: #1f1f21;
  background-color: #fff;
}
.mainNovelDropListItem:first-child {
  -webkit-box-shadow: inset 0px 1px 0px 0px #ccc;
  box-shadow: inset 0px 1px 0px 0px #ccc;
  margin-top: 0;
}
.mainNovelDropListItem_active:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.mainNovelDropListItem--chevron {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}
.mainNovelDropListItem--chevron:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.mainNovelDropListItem--chevron:before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ccc;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-size: 20px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\f105";
  margin-left: auto;
  width: 18px;
  text-align: right;
  border-bottom: 1px solid #ccc;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -moz-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: -o-linear-gradient(90deg, #ccc, #ccc 100%);
  background-image: linear-gradient(0deg, #ccc, #ccc 100%);
  width: 10px;
  padding-right: 8px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainNovelDropListItem--chevron:before {
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}


/* 회차 select CSS */
select {
    width: 60px;
    height: 20px;
    padding-left: 10px;
    font-size: 15px;
    color: #5C5C5C;
    border: 1px solid #5C5C5C;
    border-radius: 3px;
}

/* 회차 버튼 CSS */
.main_novel_novelInfo_contents_button {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#8D8D8D;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #5C5C5C;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:7px 7px 3px 7px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.main_novel_novelInfo_contents_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.main_novel_novelInfo_contents_button:active {
	position:relative;
	top:1px;
}

/* 배경설정 헤더 부분 */
.NovelSettingsHeader {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 10px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #1f1f21;
  text-shadow: none;
  border-top: none;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
  box-shadow: 0px 1px 0px 0px #fff;
  min-height: 24px;
  line-height: 24px;
  margin-top: -1px;
  text-transform: uppercase;
  position: relative;
  background-color: #D2D2D2;
}
.NovelSettingsHeader:not(:first-of-type) {
  border-top: 1px solid #ccc;
}

/* 배경설정 title 부분 */
.NovelSettingsHeader > div {
    display: inline-block;
}

.NovelSettingsNo {
    padding-left: 30px;
}

.NovelSettingstitle {
    padding-left: 120px;
}

/* 배경설정 list 부분 */
.NovelSeetingsListItem {
    line-height: 0;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #ccc;
}
.NovelSettingsListNumber {
    padding-left: 50px;
}

.NovelSettingsListName {
    text-align: center;
    padding-left: 120px;
}

/* 배경설정 detail 부분 */
.NovelDatailSettingItem {
  line-height: 0;
  border-bottom: 1px solid #ccc;
}

.NovelDatailSettingTitle {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    
    
}

.NovelDatailSettingImg {
    width: 90%;
    height: 300px;
    padding: 10px 0 25px 18px;
}

.NovelDatailSettingInfo {
    width: 90%;
    padding: 0 15px 0 18px;
    word-wrap: break-word;
}