/* This is a CSS file */
/*상단의 북마크, 관심등록 아이콘 css*/
#novelHeader{
    position: relative;
}

#novelHeader > .right > .readNovelIcons{
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom:20px;
    
}

/*소설 본문 테두리 css*/
#novelArea{
    position: relative;
    width: $(window).width();
    height: $(window).height();

}
/*소설 본문 텍스트 css*/
#novelAreaText{
    margin-right: 1em;
    margin-left: 1em;
    font-size: 20px;
    line-height: 150%;
}

/*소설 하단 css*/
#novelFooter > div{
    float: left;
}

/*소설 하단 뷰어설정 css*/
#novelFooter > #viewSettings{
    width: 30%;
}

#novelFooter > #viewSettings > .readNovelIcons{
    margin-top:10px;
    margin-left: 10px;
    margin-bottom:20px;

}

/*소설 하단 댓글 css*/
#novelFooter > #novelComment{
    text-align: center;
    width: 35%;
}

#novelFooter > #novelComment > .readNovelIcons{
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom:20px;

}

/*소설 하단 회차이동 css*/
#novelFooter > #novelMove{
    text-align: center;
    width: 30%;
}
#novelFooter > #novelMove > .readNovelIcons{
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom:20px;

}

/*뷰얼 설정 css*/
#viewSettingForm{
    font-size: 20px;
}
.viewSettingBar{
    margin: 3px;
    float: left;
    width: 100%;
    height: 14%;
}
/*뷰어설정 폰트의 버튼 */
.viewSettingBar > button{
    margin-left: 10%;
}

.viewerFont{
    font-size: 20px;
    width: 120%;
    height: 100%;
}

/*뷰어 초기화 아이콘*/
#viewerInitIcon{
    margin-top: 5px;
    margin-left: 10px;
}

/*뷰어 닫기*/
#viewerInit > #viewerClose{
    margin-left: 60%;
}

/*뷰어설정 폰트부분 css*/
.view_font_button-bar__item {
  font-weight: 400;
  font-size: 20px;
  display: table-cell;
  width: 10%;
  border-radius: 0;
  position: relative;
  position: relative;
  overflow: hidden;
  padding: 0;
  position: relative;
  overflow: hidden;
  
  
}
.view_font_button-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.view_font_button-bar__button {
  font-weight: 400;
  font-size: 17px;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  background-color: transparent;
  border: 0px solid rgba(18,114,224,0.77);
  font-weight: 400;
  padding: 0 8px;
  height: 27px;
  line-height: 27px;
  font-size: 15px;
  width: 100%;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.view_font_button-bar__button:active,
:active + .view_font_button-bar__button {
  background-color: rgba(18,114,224,0.77);
  border: 0px solid rgba(18,114,224,0.77);
  border-top: 1px solid rgba(18,114,224,0.77);
  border-bottom: 1px solid rgba(18,114,224,0.77);
  border-right: 1px solid rgba(18,114,224,0.77);
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  width: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.view_font_button-bar__item.active > .view_font_button-bar__button,
:checked + .view_font_button-bar__button {

  color: #f5760e;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.view_font_button-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;

}
.view_font_button-bar__button:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.view_font_button-bar__button:focus {
  outline: 0;
}



