/*사이드 메뉴 헤더 부분*/
ons-list-header {
    font-size: 20px !important;
    font-weight: bold !important;
    border-bottom: solid gray  !important;
}

/*사이드 메뉴 내용 부분*/
ons-list-item{
    font-size: 15px !important;
}
/*사이드 메뉴 로고*/
ons-list > img{
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
    height: 50%;
}


/*사이드 메뉴 하단의 로그인 버튼, 버전 정보 버튼*/
.loginBtn{
    width: 48%;
    height: 40px;
    border: 0px;
    background-color: white;
    float: left;
    margin: 0px;
    border-right: 1px solid gray;
}

.joinBtn{
    display:inline-block; 
    width: 48%;
    height: 40px;
    border: 0px;
    background-color: white;
    margin: 0px;
}

#slideshow { 
    position: relative; 
    width: 100%; 
    height: 200px;  
  
}

#slideshow > div { 
    position: absolute; 
}

ons-toolbar > .left,
ons-toolbar > .center,
ons-toolbar > .right{
    background-color: white !important;
    color: black;
    border: none;
}

ons-toolbar > .center{
    text-align: center;
}



.logo{
    padding: 5px;
    width: 80%;
    height: 70%;
}

#popular > ons-list-item > ons-row > img {
    margin: 5px;
}




.tab-bar {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  display: table;
  table-layout: fixed;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.tab-bar__item {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  display: table-cell;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.tab-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.tab-bar__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  height: 49px;
  letter-spacing: 0;
  color: #999;
  text-shadow: 0 1px none;
  vertical-align: top;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  width: 100%;
  font-weight: 400;
  line-height: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar__button {
    border-top: none;
  }
}
.tab-bar__icon {
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 26px;
  display: block;
  height: 28px;
}
.tab-bar__label {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
}
.tab-bar__badge.notification {
  position: absolute;
  top: 5px;
  z-index: 10;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.tab-bar__icon + .tab-bar__label {
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
.tab-bar__label:first-child {
  font-size: 16px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}
.tab-bar__button {
  color: #999;
}
:checked + .tab-bar__button {
  color: rgba(24,103,194,0.81);
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
}
.tab-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.tab-bar__button:focus {
  z-index: 1;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.tab-bar__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 49px;
  z-index: 0;
}
.tab-bar--top {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: auto;
  border-top: none;
  border-bottom: 1px solid #ccc;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar--top {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.tab-bar--top__content {
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


/*검색 내용 입력 input*/
#searchContent{
    width: 90%;
    height: 65%;
    border: none;
    border-bottom: 1px solid gray; 
    font-size: 18px;
}
